Serveur/node_modules
/
Serveur/app/.idea
/
Serveur/.idea
/
Client/README.md

/Client/.idea
/
Client/.tmp
/
Client/bower_components
/
Client/test
/
Client/.bowerrc
/
Client/.editorconfig
/
Client/.jscsrc
/
Client/.jshintrc
/
Client/.yo-rc.json
/
Client/bower.json
/
Client/Gruntfile.js
/
Client/package.json
