<script src="views/calendar.js"></script>
<link rel="stylesheet" href="styles/calendar.css">

<div>
    <form name="creerEvenementForm" novalidate>
    
        <h1>Créer un évènement</h1><br /><br />

        <label>Nom de l'événement : </label><input type="text" id="nom" ng-model="nom" /><br />
        <label>Descriptif : </label><input type="text" id="descriptif" ng-model="descriptif" /><br /><br />

        <label>Choisir des dates : </label><br />


        <md-content layout-padding>
            <md-datepicker ng-model="myDate" md-placeholder="Choisir une date"></md-datepicker>
        </md-content>


        <label>Choisir des créneaux : </label><br /><br />


        <button ng-click="creerEvenement(creerEvenementForm)">Créer l'évenement !</button>
    </form>
</div>