<style>
      .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
      }
      .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
      }   
</style>

<div>
    <form name="creerEvenementForm" >
    
        <h1>Créer un évènement</h1><br /><br />

        <label>Nom de l'événement : </label>
        <input type="text" class="form-control" id="nom" ng-model="data.nom" /><br />
        
        <label>Descriptif : </label>
        <input type="text" class="form-control" id="descriptif" ng-model="data.descriptif" /><br />

        <label>Choix de la date et de l'heure : </label>
        
        <br />
        <div ng-controller="CreerEvenementCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6" style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                    <div class="col-xs-6">
                        <table>
                            <tr ng-repeat="date in listDates">
                                <td>{{date}}</td>
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td>Pas de date choisies...</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Aujourd'hui</button>
                    </div>
                </div>
            </div>

        </div><br /><br />
 
        <button type="button" class="btn btn-success btn-block" ng-click="creerEvenementF(creerEvenementForm)">Créer l'évenement !</button><br />
    </form>
</div>
