<div>
    <form name="creerEvenementForm" >
    
        <h1>Créer un événement</h1><br /><br />

        <!-- Nom de l'événement -->
        <label>Nom de l'événement : </label>
        <input type="text" class="form-control" id="nom" ng-model="data.nom" required type="text"/><br />
        
        <!-- Descriptif de l'évènement -->
        <label>Descriptif : </label>
        <input type="text" class="form-control" id="descriptif" ng-model="data.descriptif" required type="text"/><br />

        <label>Choix de dates et d'heures : </label>
        
        <br />
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6" style="display:inline-block; min-height:290px;">
                        <!-- Calendrier -->
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                    <div class="col-xs-6">
                        <!-- Liste des dates choisies --> 
                        <table id="tableDate" class="table table-striped table-condensed table-hover">
                            <!-- Parcours des dates -->
                            <tr ng-repeat="date in listDates">
                                <!-- Date sélectionnée -->
                                <td>{{date}}</td>
                                <td>
                                    <!-- 1er créneau proposé -->
                                    <SELECT id="creneau1" size="1">
                                        <OPTION>Pas de créneau choisi</OPTION>
                                        <OPTION>00:00</OPTION><OPTION>00:30</OPTION><OPTION>01:00</OPTION><OPTION>01:30</OPTION>
                                        <OPTION>02:00</OPTION><OPTION>02:30</OPTION><OPTION>03:00</OPTION><OPTION>03:30</OPTION>
                                        <OPTION>04:00</OPTION><OPTION>04:30</OPTION><OPTION>05:00</OPTION><OPTION>05:30</OPTION>
                                        <OPTION>06:00</OPTION><OPTION>06:30</OPTION><OPTION>07:00</OPTION><OPTION>07:30</OPTION>
                                        <OPTION>08:00</OPTION><OPTION>08:30</OPTION><OPTION>09:00</OPTION><OPTION>09:30</OPTION>
                                        <OPTION>10:00</OPTION><OPTION>10:30</OPTION><OPTION>11:00</OPTION><OPTION>11:30</OPTION>
                                        <OPTION>12:00</OPTION><OPTION>12:30</OPTION><OPTION>13:00</OPTION><OPTION>13:30</OPTION>
                                        <OPTION>14:00</OPTION><OPTION>14:30</OPTION><OPTION>15:00</OPTION><OPTION>15:30</OPTION>
                                        <OPTION>16:00</OPTION><OPTION>16:30</OPTION><OPTION>17:00</OPTION><OPTION>17:30</OPTION>
                                        <OPTION>18:00</OPTION><OPTION>18:30</OPTION><OPTION>19:00</OPTION><OPTION>19:30</OPTION>
                                        <OPTION>20:00</OPTION><OPTION>20:30</OPTION><OPTION>21:00</OPTION><OPTION>21:30</OPTION>
                                        <OPTION>22:00</OPTION><OPTION>22:30</OPTION><OPTION>23:00</OPTION><OPTION>23:30</OPTION>
                                    </SELECT>
                                </td>
                                <td>
                                    <!-- 2eme créneau proposé -->
                                    <SELECT id="creneau2" size="1">
                                        <OPTION>Pas de créneau choisi</OPTION>
                                        <OPTION>00:00</OPTION><OPTION>00:30</OPTION><OPTION>01:00</OPTION><OPTION>01:30</OPTION>
                                        <OPTION>02:00</OPTION><OPTION>02:30</OPTION><OPTION>03:00</OPTION><OPTION>03:30</OPTION>
                                        <OPTION>04:00</OPTION><OPTION>04:30</OPTION><OPTION>05:00</OPTION><OPTION>05:30</OPTION>
                                        <OPTION>06:00</OPTION><OPTION>06:30</OPTION><OPTION>07:00</OPTION><OPTION>07:30</OPTION>
                                        <OPTION>08:00</OPTION><OPTION>08:30</OPTION><OPTION>09:00</OPTION><OPTION>09:30</OPTION>
                                        <OPTION>10:00</OPTION><OPTION>10:30</OPTION><OPTION>11:00</OPTION><OPTION>11:30</OPTION>
                                        <OPTION>12:00</OPTION><OPTION>12:30</OPTION><OPTION>13:00</OPTION><OPTION>13:30</OPTION>
                                        <OPTION>14:00</OPTION><OPTION>14:30</OPTION><OPTION>15:00</OPTION><OPTION>15:30</OPTION>
                                        <OPTION>16:00</OPTION><OPTION>16:30</OPTION><OPTION>17:00</OPTION><OPTION>17:30</OPTION>
                                        <OPTION>18:00</OPTION><OPTION>18:30</OPTION><OPTION>19:00</OPTION><OPTION>19:30</OPTION>
                                        <OPTION>20:00</OPTION><OPTION>20:30</OPTION><OPTION>21:00</OPTION><OPTION>21:30</OPTION>
                                        <OPTION>22:00</OPTION><OPTION>22:30</OPTION><OPTION>23:00</OPTION><OPTION>23:30</OPTION>
                                    </SELECT>
                                </td>
                                <td>
                                     <!-- 3eme créneau proposé -->
                                     <SELECT id="creneau3" size="1">
                                        <OPTION>Pas de créneau choisi</OPTION>
                                        <OPTION>00:00</OPTION><OPTION>00:30</OPTION><OPTION>01:00</OPTION><OPTION>01:30</OPTION>
                                        <OPTION>02:00</OPTION><OPTION>02:30</OPTION><OPTION>03:00</OPTION><OPTION>03:30</OPTION>
                                        <OPTION>04:00</OPTION><OPTION>04:30</OPTION><OPTION>05:00</OPTION><OPTION>05:30</OPTION>
                                        <OPTION>06:00</OPTION><OPTION>06:30</OPTION><OPTION>07:00</OPTION><OPTION>07:30</OPTION>
                                        <OPTION>08:00</OPTION><OPTION>08:30</OPTION><OPTION>09:00</OPTION><OPTION>09:30</OPTION>
                                        <OPTION>10:00</OPTION><OPTION>10:30</OPTION><OPTION>11:00</OPTION><OPTION>11:30</OPTION>
                                        <OPTION>12:00</OPTION><OPTION>12:30</OPTION><OPTION>13:00</OPTION><OPTION>13:30</OPTION>
                                        <OPTION>14:00</OPTION><OPTION>14:30</OPTION><OPTION>15:00</OPTION><OPTION>15:30</OPTION>
                                        <OPTION>16:00</OPTION><OPTION>16:30</OPTION><OPTION>17:00</OPTION><OPTION>17:30</OPTION>
                                        <OPTION>18:00</OPTION><OPTION>18:30</OPTION><OPTION>19:00</OPTION><OPTION>19:30</OPTION>
                                        <OPTION>20:00</OPTION><OPTION>20:30</OPTION><OPTION>21:00</OPTION><OPTION>21:30</OPTION>
                                        <OPTION>22:00</OPTION><OPTION>22:30</OPTION><OPTION>23:00</OPTION><OPTION>23:30</OPTION>
                                    </SELECT>
                                </td>
                            </tr>
                            <!-- Pas de date choisie dans le calendrier -->
                            <tr ng-if="listDates.length === 0">
                                <td>Pas de date choisie...</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div><br />
 
        <!-- Bouton pour créer l'événement et y ajouter les créneaux -->
        <button type="button" class="btn btn-success btn-block" ng-click="creerEvenementF(creerEvenementForm)">Créer l'événement !</button><br />
    </form>
</div>