<div>
  <label>Pseudo : {{nomUtil}}</label><br />
  <label>Nom : {{nom}}</label><br />
  <label>Prenom : {{prenom}}</label>
  <hr />
  <a href="#/creerEvenement">
    <button type="button" class="btn btn-primary btn-lg" ng-click="creerEvenement()">Créer un événement</button>
  </a>
  <a ng-href="#/evenementsRepondus/{{data.idP}}">
    <button type="button" class="btn btn-primary btn-lg">Evenements auxquels j'ai répondu</button>
  </a>
    <a href="#/evenementsCrees/{{data.idP}}">
    <button type="button" class="btn btn-primary btn-lg">Evenements que j'ai créé</button>
  </a>
  <br /><br />
</div>
